h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 84px;
    text-align: center;
    padding: 5px;
}
#submit{
    float: left;
}

.btn{
    margin-right: 10px;
    margin-bottom: 10px;
}
.figure-caption{
    background-color: white;
    text-align: center;
    color: black;
}
.btn-sm{
    margin-left: 40px;
}
.figure{
    margin: 5px;
}
.gif{
        /* IE */
        filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      
        /* Chrome, Safari */
        -webkit-filter: grayscale(1);
      
        /* Firefox */
        filter: grayscale(1);
}
.gif:hover{
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  
    /* Chrome, Safari */
    -webkit-filter: grayscale(1);
  
    /* Firefox */
    filter: grayscale(1);
}
